.main{
    height: 900px;
    width: 900px;
    background-color:black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .first{
    height: 300px;
    width: 300px;
    background-color: yellow;
    position: absolute;
    top: 0px;
    left: 0px;
}
.second{
    height: 300px;
    width: 300px;
    background-color: crimson;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.third{
    height: 300px;
    width: 300px;
    background-color:royalblue
}
.fourth{
    height: 300px;
    width: 300px;
    background-color: turquoise;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.fifth{
    height: 300px;
    width: 300px;
    background-color:violet;
    position: absolute;
    top: 0px;
    right: 0px;
}